@{
    // Add the CSS
    Script.Require("ShapesBase");
    Script.Require("jQuery");
    Script.Include("tweetrotator-min.js");
    Script.Include("tweetrotator.init.js");
    Script.Include("http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js");
    Script.Include("http://maps.googleapis.com/maps/api/js?sensor=false");
    Script.Include("techbash.geolocation.js");
    
    Style.Include("style.css");

    // Get image path for images
    var imgPath = Url.Content("~/Themes/TECHbash2012/Content/img/");

    // Add user sign-in to footer
    //WorkContext.Layout.Head.Add(New.RssLink());
    WorkContext.Layout.Footer.Add(New.User(), "10");
}

<div class="event-announcement">
    @Display(Model.Featured)
</div>
		
<div class="frame">
	<header>
		<div class="header-left">
            @Display(Model.Header)
            <div class="header-twitter-container">
                <div class="header-twitter-icon"><a href="http://twitter.com/techbash" target="_blank"><img style="border: 0px currentColor;" alt="Twitter" src="/OrchardLocal/Media/Default/img/icons/twitter.png" /></a></div>
                <div class="header-twitter-tweets" id="techbashTweets"></div>
            </div>
		</div>
		<nav class="header-right">
            @Display(Model.BeforeMain)
		</nav>
	</header>
		
	<div class="frame-body">
        <section class="left-column">
            @Display(Model.Content)            
        </section>
        <section class="right-column">
            @Display(Model.AsideSecond)
        </section>
    </div>
		
    <footer>
        @Display(Model.Footer)
    </footer>
</div>
<!--
                        <a href="http://lakequincy.com?90" style="text-align:right;font-size:8px;display:block;color:#000;text-decoration:none;font-family:Sans-Serif;margin:0;padding:0;">Ads by Lake Quincy Media</a>

<script type='text/javascript' language='Javascript' src='http://s1.lqcdn.com/m.min.js?dt=2.3.110104.1'></script>-->